[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/vim-instant-markdown"]
	path = sources_non_forked/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "sources_non_forked/vim-auto-save"]
	path = sources_non_forked/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
